body{
 padding: 0px;
 margin: 0px;
}
.container{
font-family: Arial, Helvetica, sans-serif;
text-align: center;
background-color: black;
color: white;
margin: 0 40vw;
padding: 10px;
border-radius: 20px;
width:250px;
}
.btGenerate{
 padding:  10px 5px;
 margin-top: 10px;
 border-radius: 10px;
 font-weight: 700;
 background-color: white;
}
.btGenerate:hover{
 background-color: rgb(227, 222, 245);
}